* {
    text-decoration: none;
}

.container {
    padding-left: 20px;
    padding-right: 20px;
}

a {
    text-decoration: none;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image : url(https://allemand-pedagogie.web.ac-grenoble.fr/sites/allemand-pedagogie.web.ac-grenoble.fr/files/cinema.jpg);
    background-size: cover;
    opacity: 0.9;
}


        /* VUE HOME */
#header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

#header h1 {
    margin: 0;
    font-size: 30px;
}

#content {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f7f7f7;
}

#content h2 {
    margin-top: 0;
}

#content ol {
    padding-left: 20px;
}

#footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

#footer h3 {
    margin: 0;
    font-size: 24px;
}

#footer p {
    margin: 10px 0;
}


        /* VUE FILMS ET ACTEURS - REALISATEURS ET GENRE*/
.uk-label {
    display: inline-block;
    padding: 5px 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-weight: bold;
}

.uk-label-warning {
    display: flex;
    justify-content: center;
    background-color: #ffcc00;
    color: #000;
}

table.uk-table {
    width: 100%;
    border-collapse: collapse;
}

table.uk-table thead th {
    background-color: #f2f2f2;
    padding: 10px;
    text-align: left;
}

table.uk-table tbody td {
    padding: 10px;
    border-top: 1px solid #ccc;
}

table.uk-table a {
    text-decoration: none;
    color: #000;
}


        /* VUE CASTING */
#divCasting {
    font-weight: bold;
}

#pCasting {
    display: flex;
    justify-content: center;
    background-color: #ffcc00;
    color: #000;
    border-radius: 5px;
}

#tCasting {
    width: 100%;
    border-collapse: collapse;
}
    
#thCasting {
    background-color: #f2f2f2;
    padding: 10px;
    text-align: left;
}
    
#tdCasting {
    padding: 10px;
    border-top: 1px solid #ccc;
}
    
#aCasting {
    text-decoration: none;
    color: #000;
}

        /* VUE FILMS FLEX CARD */

.film-container {
    display: flex;
    flex-wrap: wrap;
}

.film-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 300px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    text-decoration: none;
}



.film-title {
    display : flex;
    justify-content: center;
    text-align: center;
    width: 230px;
    height: 50px;
    margin-bottom: 0;
}

.film-year {
    color: #888;
    margin-bottom: 0;
}

.film-affiche {
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 150px;
    height: 200px;
    margin-bottom: 0;
}

.film-card a {
    text-decoration: none;
}

.film-card a:hover {
    text-decoration: none;
}